@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  height: 100%;
}

body {
  height: 100%;
}

main {
  margin: 5rem auto;
  display: flex;
}

.card {
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border: none;
  padding: 0;
  cursor: pointer;
  background: none;
}

.cards-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 40%;
  margin: 0 auto;
}

.card-cover {
  position: absolute;
  inset: 0;
  background-color: grey;
  transition:
    background-color 0.3s ease,
    opacity 0.3s ease;
}
